<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.text_field :date, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :rating %>
    <%= form.text_field :rating, class:"form-control" %>
  </div>  <br>

  <div class="actions form-group">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
  <br>
<% end %>
