<div style="margin-top:55px; padding-top:55px;" class="container-fluid text-sm-center p-5 bg-light">
  <h1 class="display-2"><%= @photo.name %></h1>
  <p class="lead">
    <strong>Date:</strong>
    <%= @photo.date %><br>
    <strong><a href="http://<%= @photo.link %>">Download</a></strong>
  </p>

<% if current_user.id <= 3 %>
  <%= link_to 'Edit', edit_photo_path(@photo), class:"btn btn-secondary" %>
<% end %>

<%= link_to 'Back', photos_path, class:"btn btn-secondary" %>
</div>
